/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
  --dhbw-red: #A6192E;       /* Das typische DHBW-Dunkelrot */
  --dhbw-dark: #222222;      /* Dunkles Anthrazit für Texte */
  --dhbw-light: #F8F9FA;     /* Sehr helles Grau für Hintergründe */
}

ion-button {
  --background: var(--dhbw-red);
  --color: #FFFFFF;
}

.dhbw-box {
  background-color: var(--dhbw-light);
  border-left: 4px solid var(--dhbw-red);
  color: var(--dhbw-dark);
  padding: 12px;
}